@font-face { font-family: Montserrat; src: url('./assets/font/Montserrat-Regular.ttf'); } 
@font-face { font-family: Montserrat-Bold; src: url('./assets/font/Montserrat-Bold.ttf'); } 
@font-face { font-family: Montserrat-ExtraBold; src: url('./assets/font/Montserrat-ExtraBold.ttf'); } 

body {
  margin: auto;
  max-width: 1240px;
  font-family: Montserrat,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Montferrat, 'Courier New',
    monospace;
}
