.bandeau {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__image {
        width: 85%;
        height: calc(111px + 9vw);
        object-fit: cover;
        border-radius: 25px;
        margin: 0;
        @media (max-width:600px){
            width: 90%;
        }
    }
    &__titre {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: calc(16px + 2vw);
        margin-left: 15px;
        color:white;
        margin: 0;
        width: 85%;
        height: calc(111px + 9vw);
        border-radius: 25px;
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        margin-top: calc(-111px - 9vw);
        background-blend-mode: darken;
        @media (max-width:600px){
            width: 90%;
        }
    }

}


