$image2: "./../assets/images/bandeauApropos.png";

.bandeauApropos {
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url($image2);
    background-position: center;
    background-blend-mode: darken;
    mix-blend-mode: darken;
    width: 1240px;
    height : 223px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color:white;
    border-radius: 25px;
    margin: 50px 0;
}
