.card {
    background: linear-gradient(180deg, rgba(254, 98, 98) 0%, rgba(137, 54, 54) 100%);
    background-position: center;
    border-radius: 10px;
    width: 340px;
    height: 340px;
    margin: 25px;
    display: flex;
    align-items:flex-end;
    .card__titre {
        font-size: 18px;
        font-weight: 500;
        color: white;
        flex-direction: row;
        margin-left: 20px;
        text-align: center;
}
}