.card {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%),url('./../assets/images/bandeauHome__paysage.png');;
    background-position: center;
    border-radius: 10px;
    max-width: 340px;
    height: 340px;
    margin: 25px;
    display: flex;
    align-items:flex-end;
}

.card__titre {
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin-left: 20px;
}