.card {
    //background: linear-gradient(180deg, rgba(254, 98, 98) 0%, rgba(137, 54, 54) 100%);
    //background-position: center;
    border-radius: 10px;
    width: min(22vw,340px);
    height: min(22vw,340px);
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items:flex-end;
    text-decoration: none;
    &__titre {
        position:relative;
        top: -50px; left: 0px;
        font-size: 18px;
        font-weight: 500;
        color: white;
        margin: 0;
        padding : 0 20px 0 20px;
        text-align: left;
        text-decoration:none;
        text-shadow: 1px 1px 2px black;
    }
    &__photo {
        border-radius: 10px;
        background-position: center;
        object-fit: cover;
        width: 100%;
        height: 100%;
        text-decoration: none;
    }
}

.compteur {
    font-size: 40px;
    color: black;
    position: relative;
    top: -100px;
    left: 50%;
}

.card__lien {
    text-decoration:none;
}