.card {
    background: linear-gradient(180deg, rgba(254, 98, 98) 0%, rgba(137, 54, 54) 100%);
    background-position: center;
    border-radius: 10px;
    width: 340px;
    height: 340px;
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items:flex-end;
    &__titre {
        position:relative;
        top: -50px; left: 0px;
        font-size: 18px;
        font-weight: 500;
        color: white;
        flex-direction: row;
        margin: 0;
        padding : 0 20px 0 20px;
        text-align: left;
    }
    &__photo {
        border-radius: 10px;
        background-position: center;
        width: 340px;
        height: 340px;
    }
}