.logement {
    height:643px;
    margin-top: 20px;
    &__images{
        width: 100%;
        height: 66%;
        object-fit:cover;
        border-radius: 20px;
    }
}

.fa-circle-chevron-right {
    position: relative;
    top: -40%;
    left: 95%;
    font-size: 40px;
    cursor: pointer;
}

.fa-circle-chevron-left {
    position: relative;
    top: -40%;
    left:-1%;
    font-size: 40px;
    cursor: pointer;
}