.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .header__navbar {
        display: inline-flex;
        list-style-type: none;
    }
}

.header__navbar__link {
    padding-left: 20px;
    font-size: 24px;
    font-weight: 500;
    text-decoration: solid underline transparent;
    color: #FF6060;
    transition: text-decoration 700ms;
    &:hover {
        text-decoration-color:#FF6060;    
    }
}