.detailLogement {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menuDeroulantLogement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 98%;
    &__contenu {
        width:45%;
    }

}
