.logement {
    height: 415px;
    margin: auto;
    width: 85%;
    @media(max-width:600px) {
        width: 90%;
    }
    &__images{
        width: 100%;
        height: 100%;
        object-fit:cover;
        border-radius: 20px;
    }
}

.fa-chevron-right {
    position: relative;
    top: -55%;
    left: 95%;
    color: white;
    font-size: 40px;
    cursor: pointer;
}

.fa-chevron-left {
    position: relative;
    top: -55%;
    left:-1%;
    color: white;
    font-size: 40px;
    cursor: pointer;
}